* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
   
    header {
        font-family: 'Inconsolata';
        margin: 20px 0 0 24px;
    }

    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: #333333;
    }
    
    img {
        height: 238px;
        width: 286px;
        margin: 64px 44px 0;
    }

    section {
        font-family: 'Space Mono';
    }

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
        color: #333333;
        width: 350px;
        margin: 60px 0 30px 24px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
        color: #4F4F4F;
        margin: 0 24px 66px;
    }

    button {
        width: 216px;
        height: 68px;
        background: #333333;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 24px;
    }

    footer {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #BDBDBD;
        margin-top: 114px;
    }

    footer a {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #BDBDBD;
        text-decoration: none;
    }

    
}

@media screen and (min-width: 1300px) {
    header {
        font-family: 'Inconsolata';
    }

    h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
    margin: 40px 0 0 77px;
    }

    img {
        height: 447px;
        width: 539px;
        display: inline-block;
        margin: 100px 120px 0 77px;
    }

    section {
        font-family: 'Space Mono';
        display: inline-block;
       
    }

    h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 95px;
        letter-spacing: -0.035em;
        color: #333333;
        margin: 0 120px 36px;
        width: 586px;
    }
    
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
        color: #4F4F4F;
        margin: 0 120px 64px;
        width: 381px;
    }

    button {
        width: 216px;
        height: 68px;
        left: 740px;
        top: 663px;
        background: #333333;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 120px;
    }

    button:hover{
        opacity: 0.8;
        transition: 0.5s
    }

    footer {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #BDBDBD;
        margin-top: 300px;
    }

    footer a {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #BDBDBD;
        text-decoration: none;
        align-items: center;
    }

    footer a:hover {
        color: blue;
        text-decoration: underline;
    }

    
}
    
